@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --header: #29404D;
    --sidebar: rgb(223, 217, 217);
    --cyan: darkcyan;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    /* font-size: 62.5%; */
}
.App{
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* overflow: hidden; */
}

/* header start */
.Header{
    background-color: var(--header);
    color:white;
    line-height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-box .logo{
    font-size: 2.5rem;
    /* text-transform: uppercase; */
    padding-top: 1.2rem;
    font-weight: 500;
}
.slogan {
    font-size: 1rem;
    padding: 0.5rem 0 0 1rem;
}
/* header end */


/* main start */
.Main{
    display: flex;
}
/* main end */


/* sidebar start */
.Sidebar{
    background-color: var(--sidebar);
    height: 100vh;
    width: 20%;
}
.sidebar-box{
    /* text-align: center; */
    padding-top: 1rem;
}
.todosOf{
    font-size: 1.5rem;
}
.todosOf__item{
    font-size: 1.2rem;
}
.todosOf__item a {
    text-decoration: none;
}
.todosOf__items{
    display: inline-block;
    padding-top: 1rem;
}
/* sidebar end */

/* modal start */
.add-btn{
    width: 10rem;
}
.Modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
}

.Modal .modalContainer {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: white;
    width: 25%;
    height: 55vh;
    /* text-align: center; */
    border-radius: 7px;
}
.todoName{
    width: 70%;
    padding: 0.6rem 0;
    font-size: 0.7rem;
    border: none;
    border-bottom: 1px solid var(--header);
    transition: all 0.3s ease-in-out;
}
.modalBox input:focus {
    font-size: 0.8rem;
    width: 75%;
    outline: none;
    border-bottom: 1px solid var(--header);
}
.todoName::placeholder {
    font-size: larger;
    color: black;
}
.pickDate,
.pickTime{
    color: var(--cyan);
    font-size: 1rem;
    margin-bottom: 5px;
}
.datePicker,
.timePicker{
    display: flex;
}
.date{
    border: 1px solid darkcyan;
    margin-right: 0.5rem;
    border-radius: 5px;
}
.cancelIcon{
    font-size: 1.5rem;
    color: rgb(131, 95, 95);
    position: absolute;
    top: 5px;
    right: 10px;
}
/* modal end */

/* Todos List Start */
.TodosList{
    background-color: var(--sidebar);
    height: 100%;
    width: 30vw;
    border-radius: 5px;
    border: 1px solid gray;
}
.todoBox{
    position: absolute;
    top: 10rem;
    left: 20rem;
}
/* Todos List End */
