@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url("https://cdn.syncfusion.com/ej2/material.css");

:root{
    --header: #29404D;
    --sidebar: rgb(223, 217, 217);
    --cyan: darkcyan;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    /* font-size: 62.5%; */
}
.App{
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* overflow: hidden; */
}

/* header start */
.Header{
    background-color: var(--header);
    color:white;
    line-height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-box .logo{
    font-size: 2.5rem;
    /* text-transform: uppercase; */
    padding-top: 1.2rem;
    font-weight: 500;
}
.slogan {
    font-size: 1rem;
    padding: 0.5rem 0 0 1rem;
}
/* header end */


/* main start */
.Main{
    display: flex;
}
/* main end */


/* sidebar start */
.Sidebar{
    background-color: var(--sidebar);
    height: 100vh;
    width: 20%;
}
.sidebar-box{
    /* text-align: center; */
    padding-top: 1rem;
}
.todosOf{
    font-size: 1.5rem;
}
.todosOf__item{
    font-size: 1.2rem;
}
.todosOf__item a {
    text-decoration: none;
}
.todosOf__items{
    display: inline-block;
    padding-top: 1rem;
}
/* sidebar end */

/* modal start */
.add-btn{
    width: 10rem;
}
.Modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
}

.Modal .modalContainer {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: white;
    width: 25%;
    height: 55vh;
    /* text-align: center; */
    border-radius: 7px;
}
.todoName{
    width: 70%;
    padding: 0.6rem 0;
    font-size: 0.7rem;
    border: none;
    border-bottom: 1px solid var(--header);
    transition: all 0.3s ease-in-out;
}
.modalBox input:focus {
    font-size: 0.8rem;
    width: 75%;
    outline: none;
    border-bottom: 1px solid var(--header);
}
.todoName::placeholder {
    font-size: larger;
    color: black;
}
.pickDate,
.pickTime{
    color: var(--cyan);
    font-size: 1rem;
    margin-bottom: 5px;
}
.datePicker,
.timePicker{
    display: flex;
}
.date{
    border: 1px solid darkcyan;
    margin-right: 0.5rem;
    border-radius: 5px;
}
.cancelIcon{
    font-size: 1.5rem;
    color: rgb(131, 95, 95);
    position: absolute;
    top: 5px;
    right: 10px;
}
/* modal end */

/* Todos List Start */
.TodosList{
    background-color: var(--sidebar);
    height: 100%;
    width: 30vw;
    border-radius: 5px;
    border: 1px solid gray;
}
.todoBox{
    position: absolute;
    top: 10rem;
    left: 20rem;
}
/* Todos List End */

/* Todo Start */
.Todo{
    line-height: 1rem;
}
.todoItem{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-top: 15px;
}
.tododetail{
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
    color: gray;
    margin-left: 1.5rem;
}
.todoNames{
    font-size: 1.2rem;
    color: var(--header);
}
.todoIcons{
    outline: none;
    font-size: 1.3rem;
    /* background-color: royalblue; */
}
.iconBtn{
    padding: 1px;
    margin-left: 1rem;
    border: none;
    background: none;
    transition: all 0.2s ease-in-out;
}
.doneBtn:active{
    background-color: var(--header);
    padding: 5px;

}
.todoTimes{
    color: rgb(209, 206, 206);
    background:#5b89a3;
    border: 1px solid gray;
    border-radius: 3px;
    height: 1.2rem;
}
.checked{
    width: 100%;
    text-decoration: line-through;
}
.dayName{
    font-weight: 900;
}
.alltodosLength{
    font-weight: 900;
}
.dayNameBtn{
    padding: 0.6rem 2rem;
    border: none;
    background-color: #628396;
    color: white;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    /* color: #628396; */
}
.dayNameBtn:hover{
    background-color: var(--header);
}
/* Todo End */

/* hidden todo start */
.hidden {
    display: none;
}
.hiddenUndone{
    display: block;
}
/* hidden todo end */

/* next seven days start*/
.day{
    display: flex;
}
.name{
    font-weight: 900;
}
/* next seven days end*/


/* .timePickerComponent{
    display: none !important;
    opacity: 0;
    height: 0px;
} */